.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-shadow: 0 -4px 15px rgb(250, 110, 0, 0.1);
}
.container-logo {
  display: flex;
  gap: 22px;
}
.logo-footer {
  font-family: 'K2D';
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  text-align: justify;
  background: linear-gradient(90.48deg, #984300 0.34%, #fd6f00 42.06%, #ca5900 90.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copyright {
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 25px;
  direction: ltr;
}

@media (max-width: 500px) {
  .logo-footer {
    font-size: 20px;
  }
  .copyright {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
  }
}
