.container-page-projects {
  padding: 20px 70px;
  text-align: center;
}

.title-page-projects {
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: rgba(254, 254, 254, 1);
  margin: 20px auto;
}

.container-btns-filter-projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.btn-filter-skills {
  width: 120px;
  height: 40px;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  background: linear-gradient(94.36deg, #fd6f00 3.1%, #e46400 94.54%);
  color: rgba(255, 255, 255, 1);
  font-family: Lato;
  font-size: 18px;
}

.container-card-projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px auto;
}
.card-projects {
  width: 350px;
  height: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
.img-project{
  height: 200px;
  width: 100%;
}

.container-icon-direction{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.icon-direction{
  color: #ffffff;
  cursor: pointer;
}
.container-details-card-projects {
  width: 100%;
  font-size: 15px;
}

.container-titles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto;
}

.project-name {
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
text-decoration: underline;
  text-transform: capitalize;

  color: rgba(198, 198, 198, 1);
}

.link-project {
  color: #fd6f00;
}

.link-project:visited {
  color: green;
}

.details {
  text-align: start;
  color: rgba(149, 149, 149, 1);

}
@media (max-width: 400px) {
  .container-page-projects {
    padding: 20px 15px;
  }
  .title-page-projects {
    font-size: 24px;
  }
  
  .card-projects {
  width: 95%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .container-btns-filter-skills {
    gap: 5px;
  }
  .btn-filter-skills {
    width: 20%;
    height: 30px;
    padding: 2px;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .container-page-skills {
    padding: 20px 20px;
  }
  .title-page-skills {
    font-size: 30px;
  }
  .btn-filter-skills {
    width: 20%;
    height: 30px;
    padding: 2px;
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .container-page-skills {
    padding: 20px 25px;
  }
}
